@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

input:focus-visible {
  outline: 0;
}
p,
li {
  color: #bec3c5;
}
#shadow-mask {
  box-shadow: 7px 9px 126px 62px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 7px 9px 126px 62px rgba(0, 0, 0, 0.75) inset;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 80%
  );
}
@media screen and (min-width: 768px) {
  #filmPoster:hover > #nohover {
    visibility: hidden;
  }

  #filmPoster:hover > #descriptionFilm {
    visibility: visible;
  }
}

#descriptionFilm {
  visibility: hidden;
}
